SIRINX_DATABASE_URL=
SIRINX_DB_SSL_MODE=require
SIRINX_LINE_CHANNEL_ACCESS_TOKEN=
SIRINX_LINE_ALLOWED_RECIPIENTS=
SIRINX_EXTERNAL_SENDS_ENABLED=false
SIRINX_ADMIN_API_TOKEN=
SIRINX_ADMIN_LOCAL_DEV_BYPASS=false
SIRINX_LINE_CHANNEL_SECRET=
SIRINX_META_APP_SECRET=
SIRINX_SOCIAL_WEBHOOK_PROCESSING_ENABLED=false
SIRINX_WEBHOOK_REPLAY_WINDOW_SECONDS=300
